In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [2]:
sc = SparkSession.builder.appName("df").getOrCreate()

24/11/05 19:10:08 WARN Utils: Your hostname, prateek-VirtualBox resolves to a loopback address: 127.0.1.1; using 192.168.202.181 instead (on interface enp0s3)
24/11/05 19:10:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/05 19:10:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = sc.read.csv("Files/test1.csv")

In [4]:
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [5]:
df.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [7]:
df1 = sc.read.option('header','true').csv("Files/test1.csv")
df1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [8]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [9]:
sc

In [11]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [12]:
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [14]:
df1.columns

['Name', 'age', 'Experience', 'Salary']

In [19]:
df1.head(2)

[Row(Name='Krish', age='31', Experience='10', Salary='30000'),
 Row(Name='Sudhanshu', age='30', Experience='8', Salary='25000')]

In [20]:
df1.select('Name')

DataFrame[Name: string]

In [21]:
df1.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [22]:
type(df1.select('Name'))

pyspark.sql.dataframe.DataFrame

In [23]:
df1.select('Name','age')

DataFrame[Name: string, age: string]

In [24]:
df1.select('Name','age').show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

In [26]:
df1.describe().show()

24/10/30 13:59:21 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|                8|             30000|
+-------+------+------------------+-----------------+------------------+

In [27]:
df2 = df1.withColumn('Exp after 2', df1['Experience']+2)

In [28]:
df2.show()

+---------+---+----------+------+-----------+
|     Name|age|Experience|Salary|Exp after 2|
+---------+---+----------+------+-----------+
|    Krish| 31|        10| 30000|       12.0|
|Sudhanshu| 30|         8| 25000|       10.0|
|    Sunny| 29|         4| 20000|        6.0|
|     Paul| 24|         3| 20000|        5.0|
|   Harsha| 21|         1| 15000|        3.0|
|  Shubham| 23|         2| 18000|        4.0|
+---------+---+----------+------+-----------+

In [29]:
df2 = df2.drop('Exp after 2')

In [30]:
df2.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [33]:
df2 = df2.withColumnRenamed('Name','Newname')
df2.show()

+---------+---+----------+------+
|  Newname|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+